---
import "../styles/global.css";
import Nav from "../components/Nav.astro";
import TopBar from "../components/TopBar.astro";
import Footer from "../components/Footer.astro";
import CardCategory from "../components/CardCategory.astro";
import MainLayout from "../layout/MainLayout.astro";
---

<MainLayout title="Spotify - search">
<main>
<CardCategory
newBadge={false}
header="Titel"
imgPath="https://api.lorem.space/image/album?w=150&h=150&hash=8B7BCDC2"
/>
<CardCategory
newBadge={true}
header="Halli Hallo"
imgPath="https://api.lorem.space/image/album?w=150&h=150&hash=500B67FB"
/>
<CardCategory
header="Og lige et"
imgPath="https://api.lorem.space/image/album?w=150&h=150&hash=A89D0DE6"
/>
<CardCategory
header="Øjeblik"
imgPath="https://api.lorem.space/image/album?w=150&h=150&hash=225E6693"
/>
<CardCategory
newBadge={true}
header="Om lidt er det"
imgPath="https://api.lorem.space/image/album?w=150&h=150&hash=9D9539E7"
/>
<CardCategory
header="WEEKEND"
imgPath="https://api.lorem.space/image/album?w=150&h=150&hash=BDC01094"
/>
</main>
</Mainlayout>
